.bg{
    background-color: white;
}

.titre{
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.margin-top{
    margin-top: 30px;
}

.margin-bot{
    margin-bottom: 30px;
}

.margin-left{
    margin-left: 50px;
}

.margin-right{
    margin-right: 50px;
}

.bouton{
    border-radius: 0;
    border-color: black;
    border-width: 3px;
}

.difficulte{
    margin-left: -380px;
    color: black;
}